#!/usr/bin/env bash

readonly CLOSE="✘"
readonly CHECK="✔"
readonly WARNING="‼"
readonly NEXT="➡"

readonly NOCOLOR='\033[0m'    # No Color
readonly MAGENTA='\033[0;35m' # Magenta
readonly BLUE='\033[0;34m' # Blue
readonly YELLOW='\033[0;33m' # Yellow
readonly GREEN='\033[0;32m' # Green
readonly RED='\033[0;32m' # Red
readonly CYAN='\033[0;36m' # Cyan

function dockerclean() {
  # Removes all stopped containers, networks, voluems, images and build cache
  docker system prune --volumes
}

function node_modules_clean() {
  # Prints how much space is occupying
  printf "${NEXT}${BLUE} Calculating how much space is occupying \n"
  find . -name "node_modules" -type d -prune -print | xargs du -chs
  # Delete all node_modules found
  printf "${NEXT}${GREEN} Deleting all node_modules found \n"
  find . -name 'node_modules' -type d -prune -print -exec rm -rf '{}' \;
}

function clean_cache() {
  # Delete all log and cache files/folders
  find . | grep -E "\.cache$" | xargs rm -rf
  find . -name "*.log" -type f | xargs rm -rf
  find . -type d | grep -E "(/.next|/.cache)" | xargs rm -rf

  # Cleans py[cod] and __pychache__ dirs in the current tree:
  find . | grep -E "(__pycache__|\.py[cod]$)" | xargs rm -rf

  # Remove coverage folder
  find . -name "coverage" -type d | xargs rm -rf
}